# Changelog

## Commits
{{ range . }}
- 🔧 **{{ .Subject }}** 
  - 📅 **Hash**: {{ .Hash }}
  - 👤 **Author**: {{ .Author }} ({{ .AuthorEmail }})
  - ✍️ **Commiter**: {{ .Commiter }} ({{ .CommiterEmail }})
  - 📝 **Details**: 
    {{ .Body }}{{ end }}